@using LifeScan.Models
@model LifeScan.Models.Pagination
@{
    ViewBag.Title = "_Pagination";
}
<div class="mPage">


    @* 设置前一页*@
    @if (Model.HasPreviousPage)
    {
        <a class="prev" href="@Html.UrlSet(Request, "pageIndex", (Model.PageIndex - 1))"></a>
    }
		
@* 设置页码，当前页和普通页*@
    @for (int i = Model.Start; i <= Model.End; i++)
    {
        string url = Html.UrlSet(Request, "pageIndex", i - 1);
        if (i == Model.PageIndex + 1)
        {
            //在当前页面的几个页号中寻找当前页号
        <a class="cur" href="@url">@i.ToString()</a>                 
        }
        else
        { 
        <a href="@url">@i.ToString()</a>          
        }
    }

    @*   设置下一页*@
    @if (Model.HasNextPage)
    {
        <a class="next" href="@Html.UrlSet(Request, "pageIndex", (Model.PageIndex + 1))"></a>
    }

</div>
